* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #0d0d0d;
}
.oooh-baby-regular {
  font-family: "Oooh Baby", cursive;
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 30px;
}
.nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
}

.nav a.active {
  opacity: 1;
}

.nav a:hover {
  color: #ff9d13;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socials i {
  margin-left: 10px;
  cursor: pointer;
}
.next-element {
  margin-top: 66px; 
}

.btn {
  display: inline-flex; 
   align-items: center;
  justify-content: center;
  width: auto;         
  padding: 8px 32px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px, bold;
  background-color: #ff9d12;
  color: #000000;
  padding: 14px 36px;
  border-radius: 20px;
  text-transform: uppercase;
}

.btn--small {
  padding: 8px 18px;
  font-size: 14px;
}

.hero {
  min-height: 100vh;
  background: url("../img/bg.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero__content {
  text-align: center;
  max-width: 900px;
  padding: 100px 20px;
}
.hero__content h1 {
  font-family: 'Oooh Baby', cursive;
  font-size: 72px;
  margin: 20px 0;
}
.hero__content h2 {
  font-family: "Oooh Baby", cursive;
  font-weight: 200;
  font-size: 48px;
  margin-bottom: 30px;
}
.hero__content p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #ff9d12;
  display: block;
  margin-bottom: 12px;
}

.services {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service {
  background: #1b1b1b;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 80px;
   font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
}
.service i {
  color: #ff9d13;
}
.service .close {
  margin-left: auto;
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .hero__content h1 {
    font-size: 46px;
  }
  .services {
    flex-direction: column;
    align-items: center;
  }
}
.nav a.active {
  color: #ff9d13;
}
